<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
  </head>
  
  <body >
  <div style="display: flex;justify-content: center;">
 		<h3 style="color:green" th:text="${session.pass}"></h3>
 		<h3 style="color:red" th:text="${session.fail}"></h3>
 		<span th:text="${@stockServiceImpl.removeMessage()}"></span>
 	</div><br><br>
    <div style="display: flex;justify-content: center;">
    <div th:if="${session.user==null && session.admin==null}">
     <a href="/register"><button>Register</button></a>
      <a href="/login"><button>Login</button></a>
    </div>
    <div th:if="${session.user}">
      <button>View Stocks</button>
      <button>Wallet</button>
      <button>Portfolio</button>
     <a href="/logout"><button>Logout</button></a>
    </div>
    <div th:if="${session.admin}">
     <a href="/add-stock"> <button>Add Stock</button></a>
      <button>Manage Stock</button>
      <button>View Overview</button>
      <a href="/logout"><button>Logout</button></a>
    </div></div>
  </body>
</html>
